{% set custom_id = key + "-art"%}
{%if config.useArtwork%}
    
<section 
    data-transition="zoom"
    data-background-image="images/theme.jpg" 
    data-background-opacity="0.2" 
    id="{{custom_id}}" scry="{{pack.art.id}}"> 

        <h3 >Artwork</h3>
        <div class="r-stack mb-5">
            
            <a target="_blank" href="#">
                <small 
                class="title text-white hover:text-blue-200 ">
                ???
                </small>
            </a>
        </div>
        
        <hr class="mx-5">
        <div class="3dImage fragment custom blur {%if pack.art.rotate%}  w-1/3 {% else %} w-2/3 {%endif%} m-10 box  {%if pack.art.rotate%}  aspect-[63/88] {% else %} aspect-[88/63] {%endif%} grid place-items-center relative r-stack rounded-3xl mx-auto drop-shadow
        hover:drop-shadow-xl bg-[url({{"../images/art/art" + key + ".png" | url }})] bg-cover overflow-clip"
        data-fragment-index="1">
            <div class="glow w-full  {%if pack.art.rotate%}  aspect-[63/88] {% else %} aspect-[88/63] {%endif%} "></div>
        </div>

    </section>

 {% else %}
      
 <section data-transition="zoom" data-background-image="{{"../images/"+config.themeImage | url }}" data-background-opacity="0.2" 
   id="{{custom_id}}"> 

        <div class=" w-2/3 fade-in bg-center rounded-full m-10 box aspect-square  grid place-items-center relative r-stack  mx-auto  bg-[url({{"../images/"+config.artImage | url }})] bg-cover overflow-clip drop-shadow-xl"
   >
            <div class="w-full rounded-full aspect-square grid place-content-center text-black font-black 
            text-7xl drop-shadow-lg font-serif">{{key}}</div>
        </div>

    </section>
    {%endif%}