{% set custom_id = key + "-art"%}
   <section data-transition="zoom" data-background-image="{{"../images/"+config.themeImage | url }}" data-background-opacity="0.2" 
   id="{{custom_id}}" scry="{{pack.art.id}}"> 


        
        <div class=" w-2/3  m-10 box   aspect-square  grid place-items-center relative r-stack rounded-3xl mx-auto  bg-[url({{"../images/"+config.artImage | url }})] bg-cover overflow-clip drop-shadow-xl"
        data-fragment-index="1">
            <div class="w-full  aspect-square "></div>
        </div>

    </section>