<!-- start page -->
<section data-background-image="images/theme.jpg" data-transition="zoom" data-background-opacity="0.5">
    <h1 class="r-fit-text">Adventskalender</h1>
    <hr class="mx-5">
    <br>
    <div class="w-full bg-opacity-25 rounded-md p-5 bg-gray-900 grid grid-cols-8 grid-rows-3 gap-5">
        
        {% for key,value in packs %}
            <a href="#{{key}}">
                <div class="font-semi-bold hover:outline outline-2 outline-offset-4 bg-cover bg-center bg-blue-300  outline-yellow-500 shadow-blue-900 aspect-square 
                {% if loop.index < packs|length %}
                hover:bg-[url({{ '/images/art/art'+key+'.png' | url }})] 
                <!-- hover:text-transparent -->
                {% else %}
                motion-reduce:animate-pulse
                hover:bg-[url({{'/images/theme.jpg' | url }})] 
                hover:text-yellow-500
                {%  endif %}
                grid place-content-center rounded-md">
                    <div class="group-hover:drop-shadow-lg shadow-black font-semibold drop-shadow-md">{{key}}</div>
                </div>
            </a>  
            {%else%}
            keine Daten  
        {% endfor %}
        {% for i in range(packs|length ,24) %}
            <a href="#"><div class="font-semi-bold hover:outline outline-2 outline-offset-4 bg-cover bg-center bg-blue-200 hover:text-yellow-500  outline-yellow-500 shadow-blue-900 aspect-square hover:bg-[url({{ '/images/theme.jpg' | url }})]  grid place-content-center rounded-md">
               <div class=" group-hover:drop-shadow-lg shadow-black font-semibold drop-shadow-md"> {{loop.index + packs|length}} </div>
            </div></a>  
            {%else%}
            keine Daten  
        {% endfor %}
    </div>
</section>
