{% set custom_id = "test12345"%}
   <section data-transition="zoom" data-background-image="images/theme.jpg" data-background-opacity="0.2" 
   id="{{custom_id}}" scry="7d1e12de-de62-4e13-ad1a-43ef80ff4322"> 

        <h3 >Artwork</h3>
        <div class="r-stack mb-5">
            <small class="fragment fade-out " data-fragment-index="1">???</small>
            <a target="_blank" href="#">
                <small 
                class="fragment fade-up title text-white hover:text-blue-200 "
                data-fragment-index="1"></small>
            </a>
        </div>
        
        <hr class="mx-5">
        <div class="w-2/3 m-10 box aspect-[88/63] grid place-items-center relative r-stack rounded-3xl mx-auto drop-shadow 
        hover:drop-shadow-xl card bg-[url({{'../images/art/art1.png' | url }})] bg-cover overflow-clip">
            <div class="glow w-full  aspect-[88/63] "></div>
           
        </div>

    </section>