---
pagination:
    data: booster
    size: 1
    alias: pack
permalink: "packs/{{ pack.id | slugify }}"
title: "{{pack.id}}"
---

<!doctype html>
<header>
  <link rel="stylesheet" href="{{ '../assets/reveal/reveal.css' | url }}" />
  <link rel="stylesheet" href="{{ '../assets/reveal/theme/magic.css' | url }}" />
   <link rel="stylesheet" href="/style/style.css" />

  <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" /> 
</header>
<title> </title>

{%include "scripts/custom.njk"%}

<body class="bg-emerald-950">
<div>
{%include "widgets/navigation.njk" %}
</div>
<div class="w-full gap-2 flex justify-evenly  border-t-2 border-b-2 border-emerald-500 py-8 
    bg-emerald-900 bg-gradient-to-b from-emerald-950 via-emerald-900 to-emerald-950 aspect-video">
  <div class="reveal border w-11/12 rounded-md shadow  aspect-video" >
    <div class="slides">
    {% set custom_id = pack.id + "-art"%}
        <section>
           <section 
           data-transition="zoom" 
           data-background-image="/images/theme.jpg" 
           data-background-opacity="0.2" 
           id="{{custom_id}}" 
           scry="{{pack.art.id}}"> 

        <h3 >Artwork</h3>
        <div class="r-stack mb-5">
            
            <a target="_blank" href="#">
                <small 
                class="title text-white hover:text-blue-200 ">
                ???
                </small>
            </a>
        </div>
        
        <hr class="mx-5">
        <div class="3dImage fragment custom blur {%if pack.art.rotate%}  w-1/3 {% else %} w-2/3 {%endif%} m-10 box  {%if pack.art.rotate%}  aspect-[63/88] {% else %} aspect-[88/63] {%endif%} grid place-items-center relative r-stack rounded-3xl mx-auto drop-shadow preserve-3d
        hover:drop-shadow-xl bg-[url({{"../images/art/art2.png" | url }})] bg-cover overflow-clip"
        data-fragment-index="1">
            <div class="glow w-full  
            {%if pack.art.rotate%}  aspect-[63/88] {% else %} aspect-[88/63] {%endif%} 
            {%if pack.art.foil%}foil-image{%endif%}"></div>
        </div>

        </section>
    </section>
    </div>
  </div>
</div>
<div class="card hidden w-11/12"></div>

  
  <script src="{{ '/assets/reveal/reveal.js' | url }}"></script>
  <script src="{{ '/assets/reveal/plugin/highlight/highlight.js' | url }}"></script>
  <script src="{{ '/assets/reveal/plugin/notes/notes.js' | url }}"></script>
  <script>
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      slideNumber: false,
      plugins: [ RevealNotes, RevealHighlight ],
      embedded: true,
      

    });
    

    
  </script>
  {%include "scripts/revealEvents.njk"%}

</body>
